main{
  width: 1170px;
  height: 100%;
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.disco{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:rgb(61, 61, 61);
  margin-top: 100px;
  margin-right: 100px;
  padding:10px 10px;
}
.disco img{
  width: 150px;
  height: 250px;
}
.disco h1{
  font-size: 20px;
}
.disco h2{
  font-size: 15px;
}
